.App-link {
  color: #61dafb;
}

.NavBar {
  text-align: center;
}


footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.SearchBar {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.SearchBar > input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
